<!DOCTYPE html>

<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script src="static/hello.js"></script>
    <link rel="stylesheet" type="text/css" href="static/hello.css">
</head>
<body>
<div class="col-sm-3 col-sm-offset-4 frame">
    <ul></ul>
    <div>
        <div class="msj-rta macro">
            <div class="text text-r" style="background:whitesmoke !important">
                <input class="mytext" placeholder="Type a message"/>
            </div>
            <div style="padding:10px;">
                <span class="glyphicon glyphicon-share-alt"></span>
            </div>
        </div>
        <div>
        </div>
    </div>

</div>
</body>
</html>
