<!DOCTYPE html>
<body>
<div class="container">

    <div class="starter-template">
        <h1>Chào mừng bạn đến với ChatSimSimi_NQL</h1>
        <h2>Welcome you to chat_simsimi_NQL </h2>
        <p class="xin_chao">Hãy bắt đầu nói chuyện với Simsimi_NQL ngay bây giờ</p>
        <p class="lead">Please chat with simsimi_NQL now.</p>
        <html>

        <head>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->
            <script src="static/homeChat.js"></script>
            <link rel="stylesheet" type="text/css" href="static/home.css">
        </head>
        <body>
        <div class="col-sm-3 col-sm-offset-4 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro">
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message"/>
                    </div>
                    <div style="padding:10px;">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </div>
                </div>
                <div>
                </div>
            </div>

        </div>
        </body>
        </html>
    </div>

</div><!-- /.container -->
<details>
    <summary>Thông tin:</summary>
    <ul>
        <li>userName</li>
        <li>Gmail</li>
    </ul>
</details>
</body>

