<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="_4-i0"><div class="clearfix"><div class="_51-u rfloat _ohf"><a role="button" class="_42ft _5upp _50zy layerCancel _51-t _50-0 _50z-" href="#" title="Đóng">Đóng</a></div><div><h3 id="u_1f_0" class="_52c9">Cập nhật ảnh đại diện</h3></div></div></div>
<div class="_3jk"><input type="file" class="_n _5f0v" title="Chọn file để tải lên" accept="image/*" autofocus="1" id="js_iu"></div>
</body>
</html>